@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    h1 class="display-4">Welcome</h1>
    <p>Burak Demirel - 115200034</p>
    <p>Gizem Gunday - 117200124</p>
    <p>Ilayda Atay - 119200132</p>
</div>
